  <!-- Call to Action -->
  <section class="call-to-action text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="containe-fluid">
      
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to Thrive at LaravelLive Delhi?</h2>
        </div>
        <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5">
          <a target="_blank"  href="https://forms.gle/Trm3XPjqkaoxZQQ16" class=" mb-5"> 
            <button class=" btn btn-lg btn-light"><i class="fas fa-user-check"></i> Become volunteer</button>
          </a>
          &nbsp;
          <a target="_blank" href="https://bit.ly/submit-talk" class=" mb-5"> 
            <button class=" btn btn-lg btn-light"><i class="fab fa-github"></i> Become speaker</button>
          </a>
          &nbsp;
          <a target="_blank" class=" mb-5" href="https://laravelliveindia.slack.com/join/shared_invite/enQtNTc3MTA1MTY0NTI4LWNkMGY1ZjE3OThhMGFkNzEyYTRmNGRiOWZjMDdhNmU4ZDUwNjkyYjVmYzI5M2E3ZTE5MjJjM2E0OWNiYmE5MGY"> 
            <button class=" btn btn-lg btn-light"><i class="fab fa-slack"></i> Join community</button>
          </a>
        
          
         
        </div>
      
    </div>
  </section>


  <section class="call-to-subscription text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="containe-fluid">
      
       
        <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5">
            <!-- Begin Mailchimp Signup Form -->

</div>

<!--End mc_embed_signup-->
        </div>
      
    </div>
  </section>


<div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2 hidden d-none">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; LaravelLiveDelhi 2019. All Rights Reserved. &bull; Follow us on twitter <a href="https://twitter.com/laravelDelhi" target="_blank">@LaravelDelhi</a> or contact us on <a href="mailto:delhi@laravelLive.in" target="_blank">Delhi@laravelLive.in</a> &bull; <a href="https://laravelLive.in"  target="_blank">LaravelLive India</a> is an event held with permission of Taylor Otwell & organised by Laravel Developers community in India. &bull; Laravel is trademark of <a  target="_blank" href="https://twitter.com/taylorotwell">Taylor otwell</a>.</p>
        <div class="clearfix"></div>
        <br>
        <ul class="list-inline mb-0 text-center">
          <li class="list-inline-item mr-3">
            <a target="_blank" href="https://www.facebook.com/laravelDelhi">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a target="_blank" href="https://twitter.com/laravelDelhi">
              <i class="fab fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a href="https://laravelliveindia.slack.com/join/shared_invite/enQtNTc3MTA1MTY0NTI4LWNkMGY1ZjE3OThhMGFkNzEyYTRmNGRiOWZjMDdhNmU4ZDUwNjkyYjVmYzI5M2E3ZTE5MjJjM2E0OWNiYmE5MGY">
              <i class="fab fa-slack fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a href="https://wa.me/918826810280?text=Hi+Regarding+LaravelLive+Delhi+">
              <i class="fab fa-whatsapp fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a target="_blank" href="https://mailchi.mp/9b3694961d6d/laraveldelhi">
              <i class="fas fa-envelope fa-2x fa-fw"></i>
            </a>
          </li>


         
        </ul>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">

        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://xyz.us15.list-manage.com/subscribe/post?u=a80aa20a6604dcef64860c596&amp;id=f56207996e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Join for our updates</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a80aa20a6604dcef64860c596_f56207996e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>

      </div>
    </div>
  </div>

  