     <!-- parteners -->
     <section class="bg-white text-center pt-5 pb-5"> 
      <div class="overlay"></div>
      <div class="containe-fluid">
        
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Our sponsors</h2>
          </div>
          <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5 sponsors_logo">
            
            <ul class="list-inline">
              
              <li class="list-inline-item">
                <img src="img/sponsors/bagisto.png" alt="bagisto logo">
                <div class="text-muted d-none">
                  Community partner
                </div>
              </li>

              <li class="list-inline-item">
                <img src="img/sponsors/stacked-light-sq.webp" alt="bagisto logo">
                <div class="text-muted d-none">
                  Venue partner
                </div>
              </li>

              <li class="list-inline-item">
                <img src="img/sponsors/lambdatest.jpeg" alt="bagisto logo">
                <div class="text-muted d-none">
                  Sponsor
                </div>
              </li>

              <li class="list-inline-item">
                <img src="img/sponsors/github.png" alt="github logo">
                
              </li>

              <li class="list-inline-item">
                <img src="img/sponsors/Code-Innovers.png" alt="Code-Innovers">
                
              </li>

            </ul>
            
           
          </div>
        
      </div>
    </section>
  
  <!-- Call to Action -->
  <section class="call-to-action text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="containe-fluid">
      
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to Thrive at LaravelLive Delhi?</h2>
        </div>
        <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5">
          <a target="_blank"  href="https://forms.gle/Trm3XPjqkaoxZQQ16" class=" mb-5"> 
            <button class=" btn btn-lg btn-light"><i class="fas fa-user-check"></i> Become volunteer</button>
          </a>
          &nbsp;&nbsp;
          <a target="_blank" href="https://bit.ly/submit-talk" class=" mb-5"> 
            <button class=" btn btn-lg btn-light"><i class="fab fa-github"></i> Become speaker</button>
          </a>
          &nbsp;&nbsp;
          <a target="_blank" class=" mb-5" href="https://laravelliveindia.slack.com/join/shared_invite/enQtNTc3MTA1MTY0NTI4LWNkMGY1ZjE3OThhMGFkNzEyYTRmNGRiOWZjMDdhNmU4ZDUwNjkyYjVmYzI5M2E3ZTE5MjJjM2E0OWNiYmE5MGY"> 
            <button class=" btn btn-lg btn-light"><i class="fab fa-slack"></i> Join community</button>
          </a>
        
          
         
        </div>
      
    </div>
  </section>

 


  <section class="call-to-subscription text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="containe-fluid">
      
       
        <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5">
            <!-- Begin Mailchimp Signup Form -->

</div>

<!--End mc_embed_signup-->
        </div>
      
    </div>
  </section>


<div class="container">
    <div class="row">
    <div class="col-lg-12 h-100 text-center my-auto">
      
      <p class="text-muted small mb-4 mb-lg-0 pr-5">&copy; LaravelLiveDelhi 2022. All Rights Reserved. &bull; Follow us on twitter <a href="https://twitter.com/laravelDelhi" target="_blank">@LaravelDelhi</a> or contact us on <a href="mailto:LaravelDelhi@gmail.com" target="_blank">LaravelDelhi@gmail.com</a> &bull; <a href="https://laravelLive.in"  target="_blank">LaravelLive India</a> is an event held with permission of Taylor Otwell & organised by Laravel Developers community in India. &bull; Laravel is trademark of <a  target="_blank" href="https://twitter.com/taylorotwell">Taylor otwell</a>.</p>
      <div class="clearfix"></div>
      <br>
      <ul class="list-inline mb-0 text-center">
        <li class="list-inline-item mr-3">
          <a target="_blank" href="https://www.facebook.com/laravelDelhi">
            <i class="fab fa-facebook fa-2x fa-fw"></i>
          </a>
        </li>

        <li class="list-inline-item mr-3">
          <a target="_blank" href="https://twitter.com/laravelDelhi">
            <i class="fab fa-twitter fa-2x fa-fw"></i>
          </a>
        </li>

        <li class="list-inline-item mr-3">
          <a href="https://laravelliveindia.slack.com/join/shared_invite/enQtNTc3MTA1MTY0NTI4LWNkMGY1ZjE3OThhMGFkNzEyYTRmNGRiOWZjMDdhNmU4ZDUwNjkyYjVmYzI5M2E3ZTE5MjJjM2E0OWNiYmE5MGY">
            <i class="fab fa-slack fa-2x fa-fw"></i>
          </a>
        </li>

        <li class="list-inline-item mr-3">
          <a href="https://wa.me/918826810280?text=Hi+Regarding+LaravelLive+Delhi+">
            <i class="fab fa-whatsapp fa-2x fa-fw"></i>
          </a>
        </li>

        <li class="list-inline-item mr-3">
          <a target="_blank" href="https://mailchi.mp/9b3694961d6d/laraveldelhi">
            <i class="fas fa-envelope fa-2x fa-fw"></i>
          </a>
        </li>


        
      </ul>
    </div>
    
    
    

  </div>

  