  <!-- Call to Action -->
  <section class="call-to-action text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="containe-fluid">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to Thrive at LaravelLive Delhi?</h2>
        </div>
        <div class="col-md-10 col-lg-12 col-xl-7 mx-auto mb-5">
          <a target="_blank"  href="https://forms.gle/Trm3XPjqkaoxZQQ16"> 
            <button class="btn btn-lg btn-light"><i class="fas fa-user-check"></i> Become volenteer</button>
          </a>
          &nbsp;
          <a target="_blank" href="https://bit.ly/submit-talk"> 
            <button class="btn btn-lg btn-light"><i class="fab fa-github"></i> Become speaker</button>
          </a>
          &nbsp;
          <a target="_blank" href="#"> 
            <button class="btn btn-lg btn-light"><i class="fas fa-user-plus"></i> Join community</button>
          </a>
        
          
         
        </div>
      </div>
    </div>
  </section>



<div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2 hidden d-none">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; LaravelLiveDelhi 2019. All Rights Reserved. &bull; Follow us on twitter <a href="https://twitter.com/laravelDelhi" target="_blank">@LaravelDelhi</a> or contact us on <a href="mailto:delhi@laravelLive.in" target="_blank">Delhi@laravelLive.in</a> &bull; <a href="https://laravelLive.in"  target="_blank">LaravelLive India</a> is an event held with permission of Taylor Otwell & organised by Laravel Developers community in India. &bull; Laravel is trademark of <a  target="_blank" href="https://twitter.com/taylorotwell">Taylor otwell</a>.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a target="_blank" href="https://www.facebook.com/laravelDelhi">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a target="_blank" href="https://twitter.com/laravelDelhi">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a href="https://laravelliveindia.slack.com/join/shared_invite/enQtNTc3MTA1MTY0NTI4LWNkMGY1ZjE3OThhMGFkNzEyYTRmNGRiOWZjMDdhNmU4ZDUwNjkyYjVmYzI5M2E3ZTE5MjJjM2E0OWNiYmE5MGY">
              <i class="fab fa-slack fa-2x fa-fw"></i>
            </a>
          </li>

          <li class="list-inline-item mr-3">
            <a href="https://wa.me/918826810280?text=Hi+Regarding+LaravelLive+Delhi+">
              <i class="fab fa-whatsapp fa-2x fa-fw"></i>
            </a>
          </li>


         
        </ul>
      </div>
    </div>
  </div>

  