


  <div class="pre_loader">
    <div class="loading_info">
        <img src="img/logo/favicon_white.png" alt="LaravelLive Delhi" width="100">
        <p>@LaravelLiveDelhi</p>
        <p>Please wait...</p>
    </div>
  </div>




  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="img/logo/logo.png" alt="LaravelLive Delhi">
      </a>
      <!-- 
        <a target="_blank" href="https://allevents.in/mumbai/laravellive-india-2019-conference/80004936401997"> 
        <button class="btn btn-lg btn-danger"><i class="fab send-o"></i> Buy Tickets</button>
      -->
      <div class="pull-right">
        
        <a title="View all previous meetups" href="index.html">
            <i class="fa fa-home"></i> Home
        </a>

        &nbsp;&nbsp;

        <a title="View all previous meetups" href="meetups.html">
            <i class="fa fa-handshake"></i>  Meetups
        </a>

        &nbsp;&nbsp;

        <a title="View live stream" href="live.html">
            <i class="fa fa-circle"></i> Live
        </a>

        &nbsp;&nbsp;

        <a title="Contact us" href="join.html">
          <i class="fa fa-user"></i> Join
        </a>
        &nbsp; &nbsp;
        <a title="Contact us" href="contact.html">
          Contact
      </a>

        &nbsp;

        <a target="_blank" class="d-none" href="https://twitter.com/laravelDelhi">
            
            <i class="fab fa-twitter fa-fw"></i> @LaravelDelhi

        </a>
      </div>
      
    </div>
  </nav>
