<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">

          <div class="video-container col-lg-12 pb-5">
              <h3>Hectober chapter meetup</h3>
              <iframe
              class="video"
              src="https://www.youtube.com/embed/jJhhFbLI6L4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope;"
              allowfullscreen>
              </iframe>
          </div>

          <div class="video-container col-lg-12 pb-5">
            <h3>September chapter meetup</h3>
            <iframe
            class="video"
            src="https://www.youtube.com/embed/tiV4lqeGOyA"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope;"
            allowfullscreen>
            </iframe>
        </div>

          <div class="video-container col-lg-12 pt-5 pb-5">
              <h3>July chapter meetup</h3>
              <iframe
              class="video"
              src="https://www.youtube.com/embed/mXQrLVcciXQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope;"
              allowfullscreen>
              </iframe>
          </div>

        
      </div>
    </div>
</section>


<style>


.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
</style>

