<div class="row no-gutters" id="nov-chapter-2022">

  <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/meetups/nov-chapter-2022.jpg');"></div>
  <div class="col-lg-6 order-lg-1 my-auto showcase-text">
    <a href="#"><h2>LaravelLive Delhi - November chapter meetup</h2></a>
    <h4><small>19 November 2022</small></h4>
    <p class="lead mb-0">Devansh Bawari (<a target="_blank" href="https://twitter.com/devansh0207">@devansh0207</a>) on How Bagisto acheived 90+ score in Google Core Web Vitals.</p>
    <p class="lead mb-0">Shivam Virmani (<a target="_blank" href="https://twitter.com/shivamvirmani16">@shivamvirmani16</a>) on ONDC(Open Network for Digital Commerce).</p>
    <p class="lead mb-0">APS Rajput (<a target="_blank" href="https://twitter.com/coderrajput">@coderrajput</a>) on Why Community Matters.</p>
  </div>
</div>

</div>
<div class="row no-gutters" id="oct-chapter-2022">

  <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('img/meetups/oct-chapter-2022.jpg');"></div>
    <div class="col-lg-6 order-lg-2 my-auto showcase-text">
      <a href="#"><h2>LaravelLive Delhi - Hacktober chapter meetup</h2></a>
      <h4><small>15 October 2022</small></h4>
      <p class="lead mb-0">Navi A. on Performance in Laravel.</p>
      <p class="lead mb-0">Suraj Kumar (<a target="_blank" href="https://twitter.com/surajkumardagur">@surajkumardagur</a>) on Build FOSS CRM Using Laravel & it's importance.</p>
      <p class="lead mb-0">Vikas Pathak (<a target="_blank" href="https://twitter.com/mr_vikashpathak">@mr_vikashpathak</a>) on Code Smartly: Tips, Tricks & Good practices in Laravel.</p>
    </div>
  </div>

</div>

<div class="row no-gutters" id="sept-chapter-2022">

  <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/meetups/sept-chapter-2022.jpeg');"></div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
      <a href="#"><h2>LaravelLive Delhi - September chapter meetup</h2></a>
      <h4><small>03 September 2022</small></h4>
      <p class="lead mb-0">MV Karan (<a target="_blank" href="https://twitter.com/mvkaran">@mvkaran</a>) on Development on the cloud with Github Codespaces.</p>
      <p class="lead mb-0">Ankush Malhotra (<a target="_blank" href="https://twitter.com/ankushmalhotr">@ankushmalhotr</a>) Had session on SOLID principle in Laravel.</p>
      <p class="lead mb-0">Ashish Mittal thrown lights on How Chatbots revolutionizing the eCommerce Industry.</p>
    </div>
  </div>

</div>

<div class="row no-gutters">
  <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/meetups/laravel-live-july-chapter-2022-meetup.jpeg');"></div>
  <div class="col-lg-6 my-auto showcase-text">
    <h2>LaravelLive - July chapter meetup</h2>
    <h4><small>10 July 2022</small></h4>
    <p class="lead mb-0">Manpreet rathor (<a target="_blank" href="https://twitter.com/ManpreetRathor2">@ManpreetRathor2</a>) & Sarthak Shrivastava (<a target="_blank" href="https://twitter.com/Sarthaksavvy">@Sarthaksavvy</a> Had session on MezoHub to demonstrate, deployment of Laravel App in 10m.</p>
    
    <p class="lead mb-0">Anmol Gupta (<a target="_blank" href="https://twitter.com/Guptaji94">@Guptaji94</a>) on Test Smarter, Release Faster with Test At Scale - TAS    </p>
    
    <p class="lead mb-0">Sanskar Goyal (<a target="_blank" href="https://twitter.com/sanskar_goyal11">@sanskar_goyal11</a>) Introduced Aviyel, A platform for Rewards and Recognition for your Open Source contributions    </p>
  
  </div>
</div>



<div class="row no-gutters" id="hacktober-fest">

  <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/hacktober_large.png');"></div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
      <a href="https://allevents.in/noida/80003098370853"><h2>LaravelLive Delhi - Hacktober</h2></a>
      <h4><small>19 October 2019</small></h4>
      <p>Officially powerd by Digital ocean, <a href="https://hacktoberfest.digitalocean.com/" target="_blank">hacktober fest</a> is yearly hack event in Opensource. We with Webkul and Bagisto, organised Hactober fest.</p>
      
    </div>
  </div>

</div>


<div class="row no-gutters">
  <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/laravelLive-delhi-sept-2019.jpeg');"></div>
  <div class="col-lg-6 my-auto showcase-text">
    <h2>LaravelLive - September chapter meetup</h2>
    <h4><small>29 September 2019</small></h4>
    <p class="lead mb-0">Manpreet rathor (<a target="_blank" href="https://twitter.com/ManpreetRathor2">@ManpreetRathor2</a>) Gave session on "Query optimization using Eager".</p>
    
    <p class="lead mb-0">Sarthak Shrivastava (<a target="_blank" href="https://twitter.com/Sarthaksavvy">@Sarthaksavvy</a>) Enlighted us on "Laravel packer" package.</p>
    
    <p class="lead mb-0">Tushar khanna (<a target="_blank" href="https://twitter.com/Tkhanna007">@Tkhanna007</a>) Brief given on optimization and using Laravel API in android</p>
    
    <p class="lead mb-0">Saurabh pathak from Bagisto (<a target="_blank" href="https://twitter.com/BagistoShop">@BagistoShop</a>) Introduced an amazing Laravel eCommerce package and significance of it for the community</p>
  
  </div>
</div>


<div class="container-fluid p-0">

  <div class="row no-gutters" id="aug-chapter">

    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/aug-chapter-meetup-group.jpg');"></div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
      <h2>LaravelLive - August Chapter meetup</h2>
      <h4><small>25 August 2019</small></h4>
      <p class="lead mb-0">Pankaj agrawal (<a target="_blank" href="https://twitter.com/pankaja455">@pankaja455
      </a>) Spoke on "Effective use of method magic methods in Laravel"</p>
      <br>
      <p class="lead mb-0">Tushar bohra (<a target="_blank" href="https://twitter.com/TusharSBohra">@TusharSBohra</a>) gave session on "Dependency Inversion Principle in Laravel - Deep Dive into Service Container".</p>
    </div>
  </div>

  
  <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/laravel-live-july-chapter.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>LaravelLive - July chapter meetup</h2>
        <h4><small>28 July 2019</small></h4>
        <p class="lead mb-0">Amritanshu (<a target="_blank" href="https://twitter.com/amrtnshu">@amrtnshu</a>) Gave session on "talk/session on API Authentication with Laravel Passport.".</p>
        <br>
        <p class="lead mb-0">Vaibhav Rathore (<a target="_blank" href="https://twitter.com/heyvaibhav">@heyvaibhav</a>) Gave detail session on "Laravel service container".</p>
      </div>
  </div>
  
  
  <div class="row no-gutters" id="june-chapter">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/laravel-live-delhi-june-chapter.jpeg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>LaravelLive - June Chapter meetup</h2>
        <h4><small>23 June 2019</small></h4>
        <p class="lead mb-0">Manish Kumar (<a target="_blank" href="https://twitter.com/manprajapat">@manprajapat
        </a>) had live session on Deploy Laravel App to Live server using AWS+Cloudflare.</p>
        <br>
        <p class="lead mb-0">Abhishek jain (<a target="_blank" href="https://twitter.com/jazeabby">@jazeabby</a>) Demonstrated Implementing SSL on localhost along with Google/facebook login API.</p>
      </div>
    </div>


    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/LaravelLive-delhi-may-2019.jpeg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>LaravelLive - May chapter meetup</h2>
        <h4><small>26 May 2019</small></h4>
        <p class="lead mb-0">Dheeraj jha (<a target="_blank" href="https://twitter.com/thedijje">@thedijje</a>) Illuminated on "GraphQL, Introduction to smart APIs".</p>
        <br>
        <p class="lead mb-0">Rachna Gaur (<a target="_blank" href="https://twitter.com/RachnaGaur4">@RachnaGaur4</a>) Gave her detail insight and usage of "O Auth 2.0".</p>
      </div>
  </div>

    <div class="row no-gutters" id="febuary-chapter">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/laravel-live-delhi-april-chapter.jpeg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>LaravelLive - April Chapter meetup</h2>
        <h4><small>28 April 2019</small></h4>
        <p class="lead mb-0">Amritanshu Kumar (<a target="_blank" href="https://twitter.com/amrtnshu">@amrtnshu</a>) Spoke on Laravel with Vue and Bootstrap.</p>
        <br>
        <p class="lead mb-0">Manpreet Rathore (<a target="_blank" href="https://twitter.com/ManpreetRathor2">@ManpreetRathor2</a>) Demonstrated Implementing task scheduling in Laravel.</p>
      </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/LaravelLive-delhi-march-2019.jpeg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>LaravelLive - March chapter meetup</h2>
          <h4><small>17 March 2019</small></h4>
          <p class="lead mb-0">Lalit Vijay (<a target="_blank" href="https://twitter.com/lalitvijay">@lalitvijay</a>) from LaravelLive India demystified writing APIs on his talk "Build APIs for Humans".</p>
          <br>
          <p class="lead mb-0">Ankit jain (<a target="_blank" href="https://twitter.com/ankitjain28may">@ankitjain28may</a>) took applaudable hands-on and shown "Implementing Laravel Queue".</p>
        </div>
    </div>

    <div class="row no-gutters" id="febuary-chapter">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/LaravelLive-delhi-feb-2019.jpeg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>LaravelLive - Febuary Chapter meetup</h2>
        <h4><small>24 Feb 2019</small></h4>
        <p class="lead mb-0">Sarthak Aggrawal (<a target="_blank" href="https://twitter.com/Sarthaksavvy">@Sarthaksavvy</a>) from Bitfumes had an amazing session on "Laravel Websockets with Vue" accompanied by a hands on session.</p>
        <br>
        <p class="lead mb-0">Dheeraj Jha (<a target="_blank" href="https://twitter.com/Thedijje">@thedijje</a>) from SeekGeeks gave an awesome talk on "Using HTTP Headers Effectively".</p>
      </div>
    </div>

    
    <div class="row no-gutters" id="december-chapter">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/laravelDec-Delhi.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>LaravelLive - December chapter meetup</h2>
        <h4><small>22 Dec 2018</small></h4>
        <p class="lead mb-0">Inspiring session on "Laravel at Scale" by Nishanth KD (<a target="_blank" href="https://twitter.com/nishanth_kd">@nishanth_kd</a>) from ColoredCow</p>
        <p class="lead mb-0">Abhishek Jain  (<a target="_blank" href="https://twitter.com/jazeabby">@jazeabby</a>)  from SeekGeeks enlighted everyone with "PWA &amp; its Scope" in modern world</p>
      </div>
    </div>
   
  </div>